@import "tailwindcss";

:root {
  --background: #1a1423;
  --foreground: #edede9;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

.nuvem {
  width: 500px;
  height: 320px;
  background-image: url("../../public/nuvem.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nuvem-texto {
  font-size: 8px;
  color: #000;
  text-align: center;
  padding: 4px;
  max-width: 250px;
}
