@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1423;
  --foreground: #edede9;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dm: var(--font-dm-mono);
  --color-preto: #1a1423;
  --color-branco: #edede9;
  --color-rosa: #cd4d5e;
  --color-vermelho: #e03131;
  --color-laranja: ;
  --color-amarelo: #ffdf9a;
  --color-verde: #4e6e58;
  --color-azul: #1971c2;
  --color-lilas: #7f75b4;
}

body {
  background: var(--background);
  color: var(--foreground);
}
